{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ game.name }}{% endblock %}

{% block body %}
<main class="main-game text-center">
    <h1>{{ game.name }}</h1>

    <div class="container d-flex flex-wrap">
        {% for category in game.categories|sort((a, b) => a.name <=> b.name) %}
        <table class="table table-dark table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" colspan="1000">
                        <div>
                            <h4><strong>{{ category.name }}</strong></h4>
                            <span><em>Played</em>: {{ category.races|length }} times</span>
                        </div>
                        {% set play_path = path('game_play', {gameSlug: game.slug, categorySlug: category.slug}) %}
                        <form action="{{ play_path }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token(category.id) }}"/>
                            <button type="submit" class="btn btn-primary">Play</button>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for score in category.userScores[:10] %}
                <tr>
                    <td>{{ score.elo }}</td>
                    <td>{{ score.user.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</main>
{% endblock %}
