{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Active Races{% endblock %}

{% block admin_body %}
<main class="main-races main-admin-races text-center">
    <h1>Active Races</h1>

    <div class="container">
        <table class="table table-dark table-sm table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Created</th>
                    <th scope="col">Game</th>
                    <th scope="col">Category</th>
                    <th scope="col">Players</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for race in races %}
                <tr class="position-relative">
                    <td><a href="{{ path('race_show', {race: race.id}) }}" class="stretched-link"></a>{{ race.id }}</td>
                    <td>{{ race.createdAt|date }}</td>
                    <td>{{ race.category.game.name }}</td>
                    <td>{{ race.category.name }}</td>
                    <td>{{ race.results|length }}</td>
                    <td>
                        <form action="{{ path('race_close', {race: race.id}) }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token(race.id) }}"/>
                            <button type="submit" class="btn btn-primary position-relative" style="z-index: 1;">Close</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
