{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Race - {{ race.category.game.name }} - {{ race.category.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('race_timer') }}
{% endblock %}

{% block body %}
{% set show_results = race.finished or is_granted('ROLE_ADMIN') or (user_result.finished ?? false) %}
<main class="main-race text-center">
    <h1>{{ race.category.game.name }} - {{ race.category.name }}</h1>

    <p class="m-auto">
        <em>Started</em>: {{ race.createdAt|date }}<br>
        {% if race.finished %}
        <em>Finished</em>: {{ race.finishedAt|date }}<br>
        {% endif %}
        {% if show_results %}
        <em>Players</em>: {{ race.results|length }}<br>
        {% endif %}
    </p>

    {% if not race.finished %}
    <hr>
    <div>
        <span class="race-timer" data-start-time="{{ user_result.startedAt|date('U') }}">Loading...</span>
        {% if not (user_result.finished ?? true) %}
        <form action="{{ path('race_done', {race: race.id}) }}" method="POST">
            <input type="hidden" name="token" value="{{ csrf_token(race.id) }}"/>
            <button type="submit" class="btn btn-primary race-timer-stopper">Done</button>
        </form>
        <form action="{{ path('race_forfeit', {race: race.id}) }}" method="POST">
            <input type="hidden" name="token" value="{{ csrf_token(race.id) }}"/>
            <button type="submit" class="btn btn-danger race-timer-stopper">Forfeit</button>
        </form>
        {% endif %}
    </div>
    {% endif %}

    {% if show_results %}
    <hr>
    <h2>Results</h2>
    <div class="container">
        <table class="table table-dark table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Player</th>
                    <th scope="col">Score</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for result in race.results|sort((a, b) => a.compare(b)) %}
                <tr>
                    {% if result.finished %}
                        {% if not result.forfeited %}
                            {% set time_diff = result.startedAt.diff(result.finishedAt) %}
                            {% set hours = time_diff.h + (time_diff.days * 24) %}
                            <td>{{ (hours ? hours ~ ':' : '') ~ time_diff|date('%I:%S') }}</td>
                        {% else %}
                            <td class="text-danger">Forfeit</td>
                        {% endif %}
                    {% else %}
                        <td>Racing...</td>
                    {% endif %}

                    <td>{{ result.user.name }}</td>

                    {% if race.finished %}
                    <td>
                        {{ result.startElo }} -> {{ result.finishElo }}
                        {% set elo_diff = result.finishElo - result.startElo %}
                        <span class="p-1 small{{ elo_diff > 0 ? ' text-success' : (elo_diff < 0 ? ' text-danger' : '')}}">
                            {{ (elo_diff >= 0 ? '+' : '') ~ elo_diff }}
                        </span>
                    </td>
                    {% else %}
                    <td>{{ result.startElo }}</td>
                    {% endif %}

                    <td>{{ result.startedAt|date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</main>
{% endblock %}
